body {
    background-color: burlywood;
}

.calc {
    margin: auto;
    background-color: beige;
    width: 300px;
    border: black solid;
    border-radius: 5px;
}

.instructions {
    font-family: 'Arial';
    border: black solid;
    border-radius: 5px;
    color: rgb(26, 26, 219);
    width:auto;
    text-align: center;
}

#display {
    width: 292px;
    height: 50px;
    text-align: right;
    background-color: beige;
    border: red solid;
    border-radius: 5px;
    font-size: larger;
}

table {
    table-layout: auto;
    align-self: auto;
    text-align: center;
    width: 300px;
    height: 300px;
}

.number {
    width: 60px;
    height: 50px;
    background-color: red;
    color: white;
}

.operand { 
    background-color: black;
    color: aliceblue;
    width: 60px;
    height: 50px;
}



.button {
    display: block;
    align-self: auto;
}

td:hover {
    background-color: #60ece5;
}