body {
    background-color: burlywood;
}

.calc {
    margin: auto;
    background-color: beige;
    width: 127px;
    border: black solid;
    border-radius: 5px;
}

.instructions {
    font-family: 'Arial';
    border: black solid;
    border-radius: 5px;
    color: rgb(26, 26, 219);
    width:auto;
    text-align: center;
}

#display {
    width: 120px;
    text-align: right;
    background-color: beige;
    border: red solid;
    border-radius: 5px;
}

#table {
    align-self: auto;
    text-align: right;
}

.number {
    background-color: red;
    color: white;
}

.operand { 
    background-color: black;
    color: aliceblue;
}

.button {
    display: block;
    margin: auto;
    align-self: auto;
}

td:hover {
    background-color: #70ec60;
}